<?xml version='1.0' encoding='utf-8'?>
<widget id="com.priyankastudy.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    
    <name>Priyanka Study</name>
    <description>Premium Education, Auto Mock Test and PDF Portal</description>
    <author email="contact@priyankastudy.com" href="https://priyankastudy.com">Rajesh Sarkar</author>
    
    <content src="index.html" />
    
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-intent href="whatsapp:*" /> <allow-intent href="market:*" /> <allow-navigation href="*" />
    <allow-navigation href="data:*" />
    <allow-navigation href="blob:*" /> <preference name="AndroidInsecureFileModeEnabled" value="true" /> <preference name="MediaPlaybackRequiresUserAction" value="false" /> <preference name="AllowInlineMediaPlayback" value="true" />
    
    <preference name="Orientation" value="portrait" /> <preference name="Fullscreen" value="false" />
    <preference name="BackgroundColor" value="ff0f0c29" /> <preference name="StatusBarBackgroundColor" value="#0f0c29" /> <preference name="StatusBarStyle" value="lightcontent" /> <preference name="NavigationBarBackgroundColor" value="#14141e" /> <preference name="DisallowOverscroll" value="true" /> <preference name="HideKeyboardFormAccessoryBar" value="false" />
    
    <preference name="AndroidHardwareAcceleration" value="true" /> <preference name="KeepRunning" value="true" /> <preference name="LoadUrlTimeoutValue" value="70000" /> <preference name="AndroidPersistentFileLocation" value="Compatibility" /> <preference name="WebStorageEnabled" value="true" />
    <preference name="AppendUserAgent" value=" PriyankaStudyApp/1.0" /> <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="FadeSplashScreenDuration" value="500" />
    <preference name="SplashShowOnlyFirstTime" value="false" />
    
    <platform name="android">
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:usesCleartextTraffic="true" />
        </edit-config>
        
        <icon src="icon.png" /> 
    </platform>

</widget>fh
